<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Buttons</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
      <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        <section class="container py-3 primary-color">
          <div class="py-2">
            <button type="button" class="btn btn-light btn-sm primary-color">Button</button>
            <button type="button" class="btn btn-light btn-sm primary-color"><i data-feather="settings" class="icn mr-2"></i> Button</button>
            <button type="button" class="btn btn-light btn-sm primary-color"> Button<i data-feather="arrow-right" class="icn ml-2"></i></button>
            <button type="button" class="btn btn-light btn-sm primary-color"> <i data-feather="settings" class="icn"></i></button>
            <button type="button" class="btn btn-light btn-sm primary-color"> <i data-feather="arrow-left" class="icn"></i></button>
            <button type="button" class="btn btn-light btn-sm primary-color"> <i data-feather="arrow-right" class="icn"></i></button>
            <button type="button" class="btn btn-light btn-sm primary-color"> <i data-feather="play" class="icn"></i></button>
            <div class="dropdown d-inline-block">
              <button class="btn btn-light btn-sm primary-color dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu h6" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="py-2">
            <button type="button" class="btn btn-light primary-color">Button</button>
            <button type="button" class="btn btn-light primary-color"><i data-feather="settings" class="icn mr-2"></i> Button</button>          
            <button type="button" class="btn btn-light primary-color">Button<i data-feather="arrow-right" class="icn ml-2"></i></button>
            <button type="button" class="btn btn-light primary-color"><i data-feather="settings" class="icn"></i></button>
            <button type="button" class="btn btn-light primary-color"><i data-feather="arrow-left" class="icn"></i></button>
            <button type="button" class="btn btn-light primary-color"><i data-feather="arrow-right" class="icn"></i></button>
            <button type="button" class="btn btn-light primary-color"> <i data-feather="play" class="icn"></i></button>
            <div class="dropdown d-inline-block">
              <button class="btn btn-light primary-color dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="py-2">
            <button type="button" class="btn btn-light btn-lg primary-color">Button</button>
            <button type="button" class="btn btn-light btn-lg primary-color"><i data-feather="settings" class="icn mr-2"></i> Button</button>
            <button type="button" class="btn btn-light btn-lg primary-color">Button<i data-feather="arrow-right" class="icn ml-2"></i></button>
            <button type="button" class="btn btn-light btn-lg primary-color"><i data-feather="settings" class="icn"></i></button>
            <button type="button" class="btn btn-light btn-lg primary-color"><i data-feather="arrow-left" class="icn"></i></button>
            <button type="button" class="btn btn-light btn-lg primary-color"><i data-feather="arrow-right" class="icn"></i></button>
            <button type="button" class="btn btn-light btn-lg primary-color"> <i data-feather="play" class="icn"></i></button>
          </div>
        </section>
        <section class="container py-3">
          <div class="py-2">
            <button type="button" class="btn btn-round btn-sm primary-color">Button</button>
            <button type="button" class="btn btn-round btn-sm primary-color"><i data-feather="settings" class="icn mr-2"></i> Button</button>
            <button type="button" class="btn btn-round btn-sm primary-color"> Button<i data-feather="arrow-right" class="icn ml-2"></i></button>
            <button type="button" class="btn btn-round btn-sm primary-color"> <i data-feather="settings" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-sm primary-color"> <i data-feather="arrow-left" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-sm primary-color"> <i data-feather="arrow-right" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-sm primary-color"> <i data-feather="play" class="icn"></i></button>
            <div class="dropdown d-inline-block">
              <button class="btn btn-round btn-sm primary-color dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu h6" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="py-2">
            <button type="button" class="btn btn-round primary-color">Button</button>
            <button type="button" class="btn btn-round primary-color"><i data-feather="settings" class="icn mr-2"></i> Button</button>          
            <button type="button" class="btn btn-round primary-color">Button<i data-feather="arrow-right" class="icn ml-2"></i></button>
            <button type="button" class="btn btn-round primary-color"><i data-feather="settings" class="icn"></i></button>
            <button type="button" class="btn btn-round primary-color"><i data-feather="arrow-left" class="icn"></i></button>
            <button type="button" class="btn btn-round primary-color"><i data-feather="arrow-right" class="icn"></i></button>
            <button type="button" class="btn btn-round primary-color"> <i data-feather="play" class="icn"></i></button>
            <div class="dropdown d-inline-block">
              <button class="btn btn-round primary-color dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="py-2">
            <button type="button" class="btn btn-round btn-lg primary-color">Button</button>
            <button type="button" class="btn btn-round btn-lg primary-color"><i data-feather="settings" class="icn mr-2"></i> Button</button>
            <button type="button" class="btn btn-round btn-lg primary-color">Button<i data-feather="arrow-right" class="icn ml-2"></i></button>
            <button type="button" class="btn btn-round btn-lg primary-color"><i data-feather="settings" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-lg primary-color"><i data-feather="arrow-left" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-lg primary-color"><i data-feather="arrow-right" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-lg primary-color"> <i data-feather="play" class="icn"></i></button>
          </div>
          <div class="py-2">
            <button type="button" class="btn sm-btn-circle btn-sm primary-color"> <i data-feather="play" class="icn"></i></button>
            <button type="button" class="btn btn-circle primary-color"> <i data-feather="play" class="icn mr-1"></i></button>
            <button type="button" class="btn lg-btn-circle btn-lg primary-color"> <i data-feather="play" class="icn"></i></button>
          </div>
        </section> 
        <section class="container py-3">
          <div class="py-2">
            <button type="button" class="btn btn-sm primary-color">Button</button>
            <button type="button" class="btn btn-sm primary-color"><i data-feather="settings" class="icn mr-2"></i> Button</button>
            <button type="button" class="btn btn-sm primary-color"> Button<i data-feather="arrow-right" class="icn ml-2"></i></button>
            <button type="button" class="btn btn-sm primary-color"> <i data-feather="settings" class="icn"></i></button>
            <button type="button" class="btn btn-sm primary-color"> <i data-feather="arrow-left" class="icn"></i></button>
            <button type="button" class="btn btn-sm primary-color"> <i data-feather="arrow-right" class="icn"></i></button>
            <button type="button" class="btn btn-sm primary-color"> <i data-feather="play" class="icn"></i></button>
            <div class="dropdown d-inline-block">
              <button class="btn btn-sm primary-color dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu h6" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="py-2">
            <button type="button" class="btn primary-color">Button</button>
            <button type="button" class="btn primary-color"><i data-feather="settings" class="icn mr-2"></i> Button</button>          
            <button type="button" class="btn primary-color">Button<i data-feather="arrow-right" class="icn ml-2"></i></button>
            <button type="button" class="btn primary-color"><i data-feather="settings" class="icn"></i></button>
            <button type="button" class="btn primary-color"><i data-feather="arrow-left" class="icn"></i></button>
            <button type="button" class="btn primary-color"><i data-feather="arrow-right" class="icn"></i></button>
            <button type="button" class="btn primary-color"> <i data-feather="play" class="icn"></i></button>
            <div class="dropdown d-inline-block">
              <button class="btn primary-color dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="py-2">
            <button type="button" class="btn btn-lg primary-color">Button</button>
            <button type="button" class="btn btn-lg primary-color"><i data-feather="settings" class="icn mr-2"></i> Button</button>
            <button type="button" class="btn btn-lg primary-color">Button<i data-feather="arrow-right" class="icn ml-2"></i></button>
            <button type="button" class="btn btn-lg primary-color"><i data-feather="settings" class="icn"></i></button>
            <button type="button" class="btn btn-lg primary-color"><i data-feather="arrow-left" class="icn"></i></button>
            <button type="button" class="btn btn-lg primary-color"><i data-feather="arrow-right" class="icn"></i></button>
            <button type="button" class="btn btn-lg primary-color"> <i data-feather="play" class="icn"></i></button>
          </div>
        </section>
        <section class="container py-3">
          <div class="py-2">
            <button type="button" class="btn btn-round btn-sm primary-color">Button</button>
            <button type="button" class="btn btn-round btn-sm primary-color"><i data-feather="settings" class="icn mr-2"></i> Button</button>
            <button type="button" class="btn btn-round btn-sm primary-color"> Button<i data-feather="arrow-right" class="icn ml-2"></i></button>
            <button type="button" class="btn btn-round btn-sm primary-color"> <i data-feather="settings" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-sm primary-color"> <i data-feather="arrow-left" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-sm primary-color"> <i data-feather="arrow-right" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-sm primary-color"> <i data-feather="play" class="icn"></i></button>
            <div class="dropdown d-inline-block">
              <button class="btn btn-round btn-sm primary-color dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu h6" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="py-2">
            <button type="button" class="btn btn-round primary-color">Button</button>
            <button type="button" class="btn btn-round primary-color"><i data-feather="settings" class="icn mr-2"></i> Button</button>          
            <button type="button" class="btn btn-round primary-color">Button<i data-feather="arrow-right" class="icn ml-2"></i></button>
            <button type="button" class="btn btn-round primary-color"><i data-feather="settings" class="icn"></i></button>
            <button type="button" class="btn btn-round primary-color"><i data-feather="arrow-left" class="icn"></i></button>
            <button type="button" class="btn btn-round primary-color"><i data-feather="arrow-right" class="icn"></i></button>
            <button type="button" class="btn btn-round primary-color"> <i data-feather="play" class="icn"></i></button>
            <div class="dropdown d-inline-block">
              <button class="btn btn-round primary-color dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="py-2">
            <button type="button" class="btn btn-round btn-lg primary-color">Button</button>
            <button type="button" class="btn btn-round btn-lg primary-color"><i data-feather="settings" class="icn mr-2"></i> Button</button>
            <button type="button" class="btn btn-round btn-lg primary-color">Button<i data-feather="arrow-right" class="icn ml-2"></i></button>
            <button type="button" class="btn btn-round btn-lg primary-color"><i data-feather="settings" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-lg primary-color"><i data-feather="arrow-left" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-lg primary-color"><i data-feather="arrow-right" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-lg primary-color"> <i data-feather="play" class="icn"></i></button>
          </div>
          <div class="py-2">
            <button type="button" class="btn sm-btn-circle btn-sm primary-color"> <i data-feather="play" class="icn"></i></button>
            <button type="button" class="btn btn-circle primary-color"> <i data-feather="play" class="icn mr-1"></i></button>
            <button type="button" class="btn lg-btn-circle btn-lg primary-color"> <i data-feather="play" class="icn"></i></button>
          </div>
        </section>
        <section class="container py-3">
          <div class="py-2">
            <button type="button" class="btn btn-outline btn-sm primary-color">Button</button>
            <button type="button" class="btn btn-outline btn-sm primary-color"><i data-feather="settings" class="icn mr-2"></i> Button</button>
            <button type="button" class="btn btn-outline btn-sm primary-color"> Button<i data-feather="arrow-right" class="icn ml-2"></i></button>
            <button type="button" class="btn btn-outline btn-sm primary-color"> <i data-feather="settings" class="icn"></i></button>
            <button type="button" class="btn btn-outline btn-sm primary-color"> <i data-feather="arrow-left" class="icn"></i></button>
            <button type="button" class="btn btn-outline btn-sm primary-color"> <i data-feather="arrow-right" class="icn"></i></button>
            <button type="button" class="btn btn-outline btn-sm primary-color"> <i data-feather="play" class="icn"></i></button>
            <div class="dropdown d-inline-block">
              <button class="btn btn-outline btn-sm primary-color dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu h6" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="py-2">
            <button type="button" class="btn btn-outline primary-color">Button</button>
            <button type="button" class="btn btn-outline primary-color"><i data-feather="settings" class="icn mr-2"></i> Button</button>          
            <button type="button" class="btn btn-outline primary-color">Button<i data-feather="arrow-right" class="icn ml-2"></i></button>
            <button type="button" class="btn btn-outline primary-color"><i data-feather="settings" class="icn"></i></button>
            <button type="button" class="btn btn-outline primary-color"><i data-feather="arrow-left" class="icn"></i></button>
            <button type="button" class="btn btn-outline primary-color"><i data-feather="arrow-right" class="icn"></i></button>
            <button type="button" class="btn btn-outline primary-color"> <i data-feather="play" class="icn"></i></button>
            <div class="dropdown d-inline-block">
              <button class="btn btn-outline primary-color dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="py-2">
            <button type="button" class="btn btn-outline btn-lg primary-color">Button</button>
            <button type="button" class="btn btn-outline btn-lg primary-color"><i data-feather="settings" class="icn mr-2"></i> Button</button>
            <button type="button" class="btn btn-outline btn-lg primary-color">Button<i data-feather="arrow-right" class="icn ml-2"></i></button>
            <button type="button" class="btn btn-outline btn-lg primary-color"><i data-feather="settings" class="icn"></i></button>
            <button type="button" class="btn btn-outline btn-lg primary-color"><i data-feather="arrow-left" class="icn"></i></button>
            <button type="button" class="btn btn-outline btn-lg primary-color"><i data-feather="arrow-right" class="icn"></i></button>
            <button type="button" class="btn btn-outline btn-lg primary-color"> <i data-feather="play" class="icn"></i></button>
          </div>
        </section>
        <section class="container py-3">
          <div class="py-2">
            <button type="button" class="btn btn-round btn-outline btn-sm primary-color">Button</button>
            <button type="button" class="btn btn-round btn-outline btn-sm primary-color"><i data-feather="settings" class="icn mr-2"></i> Button</button>
            <button type="button" class="btn btn-round btn-outline btn-sm primary-color"> Button<i data-feather="arrow-right" class="icn ml-2"></i></button>
            <button type="button" class="btn btn-round btn-outline btn-sm primary-color"> <i data-feather="settings" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-outline btn-sm primary-color"> <i data-feather="arrow-left" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-outline btn-sm primary-color"> <i data-feather="arrow-right" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-outline btn-sm primary-color"> <i data-feather="play" class="icn"></i></button>
            <div class="dropdown d-inline-block">
              <button class="btn btn-round btn-outline btn-sm primary-color dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu h6" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="py-2">
            <button type="button" class="btn btn-round btn-outline primary-color">Button</button>
            <button type="button" class="btn btn-round btn-outline primary-color"><i data-feather="settings" class="icn mr-2"></i> Button</button>          
            <button type="button" class="btn btn-round btn-outline primary-color">Button<i data-feather="arrow-right" class="icn ml-2"></i></button>
            <button type="button" class="btn btn-round btn-outline primary-color"><i data-feather="settings" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-outline primary-color"><i data-feather="arrow-left" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-outline primary-color"><i data-feather="arrow-right" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-outline primary-color"> <i data-feather="play" class="icn"></i></button>
            <div class="dropdown d-inline-block">
              <button class="btn btn-round btn-outline primary-color dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="py-2">
            <button type="button" class="btn btn-round btn-outline btn-lg primary-color">Button</button>
            <button type="button" class="btn btn-round btn-outline btn-lg primary-color"><i data-feather="settings" class="icn mr-2"></i> Button</button>
            <button type="button" class="btn btn-round btn-outline btn-lg primary-color">Button<i data-feather="arrow-right" class="icn ml-2"></i></button>
            <button type="button" class="btn btn-round btn-outline btn-lg primary-color"><i data-feather="settings" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-outline btn-lg primary-color"><i data-feather="arrow-left" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-outline btn-lg primary-color"><i data-feather="arrow-right" class="icn"></i></button>
            <button type="button" class="btn btn-round btn-outline btn-lg primary-color"> <i data-feather="play" class="icn"></i></button>
          </div>
          <div class="py-2">
            <button type="button" class="btn sm-btn-circle btn-outline btn-sm primary-color"> <i data-feather="play" class="icn"></i></button>
            <button type="button" class="btn btn-circle btn-outline primary-color"> <i data-feather="play" class="icn mr-1"></i></button>
            <button type="button" class="btn lg-btn-circle btn-outline btn-lg primary-color"> <i data-feather="play" class="icn"></i></button>
          </div>
        </section>
        <script src="../js/jquery-3.4.1.min.js"></script>
        <script src="../js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
        <script src="../js/tools.js"></script>
    </body>
</html>