<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Cards</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
      <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="../css/main.css">
    </head>
    <body> 
        <section class="container py-3">
          <div class="row align-items-start">
            <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
              <div class="card-item text-center py-5 px-4 rounded">
                <i data-feather="activity" class="icn icn-md mb-4 primary-text-color"></i>
                <h3 class="h5 text-color mb-2">At your fingertips</h3>
                <p class="h6 second-text-color mb-4">Slate helps you see how many more days you need to work to reach </p>
                <a class="link primary-text-color mb-4" href="#">Learn more</a>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
              <div class="card-item text-center py-5 px-5 rounded">
                <i data-feather="activity" class="icn icn-md mb-4 primary-text-color"></i>
                <h3 class="h3 text-color mb-2">At your fingertips</h3>
                <p class="h6 second-text-color mb-4">Slate helps you see how many more days you need to work to reach </p>
                <button type="button" class="btn primary-color">Try for free</button>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
              <div class="card-item text-center rounded">
                <div class="media mb-4">
                  <img class="cover" src="../img/Picture.jpg" alt="">
                </div>
                <div class="card-content py-4 px-5">
                  <h3 class="h3 text-color mb-2">At your fingertips</h3>
                  <p class="h6 second-text-color mb-4">Slate helps you see how many more days you need to work to reach </p>
                  <button type="button" class="btn mb-4 primary-color">Try for free</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
              <div class="card-item rounded">
                <div class="media">
                  <img class="cover" src="../img/Picture.jpg" alt="">
                </div>
                <div class="card-content py-4 px-4 mx-2">
                  <h6 class="h6 mute-text-color">20 JUNE 2019</h6>
                  <h3 class="h5 text-color mb-2">Life Tips From Top Ten Adventure Travelers</h3>
                  <p class="h6 second-text-color mb-4">Slate helps you see how many more days you...</p>
                  <a href="#" class="link">View Details</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
              <div class="card-item rounded">
                <div class="media">
                  <img class="cover" src="../img/Picture.jpg" alt="">
                </div>
                <div class="card-content py-4 px-4 mx-2">
                  <a href="#" class="h6 mute-text-color">Course item</a>
                  <h3 class="h3 text-color mt-2 mb-3">Content Writer </h3>
                  <p class="paragr second-text-color mb-4">Slate helps you see how many more days you...</p>
                  <div class="tags mb-3">
                    <a href="#" class="h6 second-text-color pr-2">Full time</a>
                    <a href="#" class="h6 second-text-color pr-2">Premium</a>
                    <a href="#" class="h6 second-text-color pr-2">1 July 2019 </a>
                  </div>
                  <a href="#" class="link">View Details</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
              <div class="card-item cover rounded dark d-flex align-items-end">
                <div class="media bg-cover" >
                  <div class="filter"></div>
                  <img class="cover" src="../img/Picture.jpg" alt="">
                </div>
                <div class="card-content py-4 px-4 mx-2">
                  <h3 class="h3 mt-2 mb-3 "> <a href="#" class="text-white">Life Tips From Top Ten Adventure Travelers</a> </h3>
                  <p class="paragr mb-4">Slate helps you see how many more days you...</p>
                  <div class="tags mb-3">
                    <a href="#" class="h6 mute-text-color pr-2">Full time</a>
                    <a href="#" class="h6 mute-text-color pr-2">Premium</a>
                    <a href="#" class="h6 mute-text-color pr-2">1 July 2019 </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-8 mb-4">
              <div class="card-item cover rounded dark d-flex align-items-end">
                <div class="media bg-cover" >
                  <div class="filter"></div>
                  <img class="cover" src="../img/Picture.jpg" alt="">
                </div>
                <div class="card-content py-4 px-4 mx-2">
                  <h3 class="h3 mt-2 mb-3 "> <a href="#" class="text-white">Life Tips From Top Ten Adventure Travelers</a> </h3>
                  <p class="paragr mb-4">Slate helps you see how many more days you...</p>
                  <div class="tags mb-3">
                    <a href="#" class="h6 mute-text-color pr-2">Full time</a>
                    <a href="#" class="h6 mute-text-color pr-2">Premium</a>
                    <a href="#" class="h6 mute-text-color pr-2">1 July 2019 </a>
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-8 mb-4">
              <div class="card-item full-width rounded d-sm-flex align-items-stretch">
                <div class="media">
                  <img class="cover" src="../img/Picture.jpg" alt="">
                </div>
                <div class="card-content py-4 px-4 mx-2">
                  <h6 class="h6 mute-text-color">20 JUNE 2019</h6>
                  <h3 class="h3 text-color mb-2">Life Tips From Top Ten Adventure Travelers</h3>
                  <p class="h6 second-text-color mb-4">Slate helps you see how many more days you...</p>
                  <a href="#" class="link">View Details</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
              <div class="card-item rounded">
                <a href="#">
                  <div class="media">
                    <img class="cover" src="../img/Picture.jpg" alt="">
                  </div>
                  <div class="card-content">
                    <h3 class="h5 mb-0 px-4 py-3">Technology</h3>
                    <h6 class="h6 border-top second-text-color mb-0 px-4 py-2">524 Products</h6>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
              <div class="card-item rounded">
                <a href="#">
                  <div class="media">
                    <img class="cover" src="../img/Picture.jpg" alt="">
                  </div>
                  <div class="card-content text-center">
                    <h3 class="h5 mb-0 px-4 py-3">Creative Design</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
              <div class="card-item rounded px-5 pt-5">
                  <div class="media circle-box sm-circle mx-auto mb-4">
                    <img src="../img/user3.jpg" alt="">
                  </div>
                  <div class="card-content text-center pb-3">
                    <p class="paragr second-text-color mb-4">Slate helps you see how 
                      many more days you need 
                      to work to reach your financial 
                      goal for the month and year.</p>
                      <div class="stars text-center mb-4">
                        <i data-feather="star" class="text-warning"></i>
                        <i data-feather="star" class="text-warning"></i>
                        <i data-feather="star" class="text-warning"></i>
                        <i data-feather="star" class="mute-text-color"></i>
                        <i data-feather="star" class="mute-text-color"></i>
                      </div>
                    <a href="#" class="link d-block mb-1">Regina Miles</a>
                    <h6 class="h6 text-color mb-4">Designer</h6>
                  </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
              <div class="card-item rounded px-4 pt-4">
                  <div class="card-content">
                    <div class="stars mb-3">
                      <i data-feather="star" class="text-warning"></i>
                      <i data-feather="star" class="text-warning"></i>
                      <i data-feather="star" class="text-warning"></i>
                      <i data-feather="star" class="mute-text-color"></i>
                      <i data-feather="star" class="mute-text-color"></i>
                    </div>
                    <h6 class="h6 second-text-color mb-4">Slate helps you see how 
                      many more days you need 
                      to work to reach your financial 
                      goal for the month and year.</h6> 
                    <div class="d-flex align-items-center mb-4">
                      <div class="media circle-box xs-circle mr-3">
                        <img src="../img/user3.jpg" alt="">
                      </div>
                      <div>
                        <a href="#" class="link d-block">Regina Miles</a>
                       <h6 class="h6 text-color mb-0">Designer</h6>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
              <div class="card-item text-center rounded px-5 pt-5 pb-4">
                  <h3 class="title h3">FREE</h3>
                  <h6 class="h6 text-center">Organize across all  apps by hand</h6>
                  <div class="price my-4 d-flex align-items-center justify-content-center">
                    <strong class="h1">9</strong>
                    <div class="text-left ml-2">
                      <strong class="h3">$</strong><br>
                      <strong class="h5">Per Month</strong>
                    </div>
                  </div>
                  <ul class="features-list text-left mb-4">
                    <li class="d-flex align-items-center py-2">
                      <div class="icn-circle xs-circle secondary-color-1">
                        <i data-feather="check" class="icon-xs" style="width: 1rem;"></i>
                      </div>
                      <strong class="h6 ml-2 mb-0">Unlimited product updates</strong>
                    </li>
                    <li class="d-flex align-items-center py-2">
                      <div class="icn-circle xs-circle secondary-color-1">
                        <i data-feather="check" class="icon-xs" style="width: 1rem;"></i>
                      </div>
                      <strong class="h6 ml-2 mb-0">Unlimited Shares</strong>
                    </li>
                    <li class="d-flex align-items-center py-2">
                      <div class="icn-circle xs-circle secondary-color-1">
                        <i data-feather="check" class="icon-xs" style="width: 1rem;"></i>
                      </div>
                      <strong class="h6 ml-2 mb-0">Every feature in Figmaland</strong>
                    </li>
                    <li class="d-flex align-items-center py-2">
                      <div class="icn-circle xs-circle mute">
                        <i data-feather="check" class="icon-xs text-white" style="width: 1rem;"></i>
                      </div>
                      <strong class="h6 ml-2 mb-0">1GB  Cloud storage</strong>
                    </li>
                    <li class="d-flex align-items-center py-2">
                      <div class="icn-circle xs-circle mute">
                        <i data-feather="check" class="icon-xs text-white" style="width: 1rem;"></i>
                      </div>
                      <strong class="h6 ml-2 mb-0">Email and community support</strong>
                    </li>
                  </ul>
                  <button type="button" class="btn primary-color w-100 mb-3">Order Now</button>
              </div>
            </div>
          </div>
        </section>
        <script src="../js/jquery-3.4.1.min.js"></script>
        <script src="../js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
        <script src="../js/tools.js"></script>
    </body>
</html>