<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Forms</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
      <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="../css/main.css">
    </head>
    <body> 
        <section class="py-5">
          <div class="container py-md-5">
            <div class="row justify-content-center">
              <div class="col-md-8 py-5">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Email *">
                </div>
                <div class="form-group">
                  <select class="custom-select form-control" id="inlineFormCustomSelect">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="form-group">
                  <div class="input-group input-style-1 mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i data-feather="search"></i></div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername1" placeholder="Search">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group form-group-file input-style-1 mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i data-feather="link"></i></div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Choose file">
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                  </div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Your Message"></textarea>
                </div>
              </div>
              <div class="col-md-8 py-5">
                <div class="form-group">
                  <label for="emailForm1" >Email <small class="alert-text-color">*</small></label>
                  <input class="form-control" type="text" id="emailForm1" placeholder="Email *">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="inlineFormCustomSelect2" >Category</label>
                  <select class="custom-select form-control" id="inlineFormCustomSelect2">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  <small class="form-text text-muted">Lorem impsum dolor amit.</small>
                </div>
                <div class="form-group">
                  <label for="inlineFormInputGroupUsername4" >Search</label>
                  <div class="input-group input-style-1 mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i data-feather="search"></i></div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername4" placeholder="Search">
                  </div>
                  <small class="form-text text-muted">Lorem impsum dolor amit.</small>
                </div>
                <div class="form-group">
                  <label>Upload File</label>
                  <div class="input-group form-group-file input-style-1 mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i data-feather="link"></i></div>
                    </div>
                    <input type="text" class="form-control"  placeholder="Choose file">
                    <div class="input-group-append mt-2 mt-sm-0"><button type="button" class="btn primary-color">Upload</button></div>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                  </div>
                  <small class="form-text text-muted">Lorem impsum dolor amit.</small>
                </div>
                <div class="form-group">
                  <label for="inlineFormInputGroupUsername4" >Search</label>
                  <div class="input-group input-style-2 mb-2 mr-sm-2">
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername4" placeholder="Search">
                    <div class="input-group-append mt-2 mt-sm-0">
                      <button class="btn primary-color px-3"><i data-feather="search"></i></button>
                    </div>
                  </div>
                  <small class="form-text text-muted">Lorem impsum dolor amit.</small>
                </div>
                <div class="form-group">
                  <label for="inlineFormInputGroupUsername4" >Search</label>
                  <div class="input-group input-style-2 mb-2 mr-sm-2">
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername4" placeholder="Search">
                    <div class="input-group-append mt-2 mt-sm-0">  
                      <div class="dropdown">
                        <button class="btn dropdown-toggle text-color" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </div>
                    <div class="input-group-append mt-2 mt-sm-0">
                      <button class="btn primary-color px-3"><i data-feather="search"></i></button>
                    </div>
                  </div>
                  <small class="form-text text-muted">Lorem impsum dolor amit.</small>
                </div>
                <div class="form-group">
                  <label for="inlineFormInputGroupUsername4" >Search</label>
                  <div class="input-group input-style-2 mb-2 mr-sm-2">
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername4" placeholder="Search">
                    <div class="input-group-append mt-2 mt-sm-0">  
                      <div class="input-group input-style-1">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i data-feather="map-pin"></i></div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername4" placeholder="Zip Code">
                      </div>
                    </div>
                    <div class="input-group-append mt-2 mt-sm-0">
                      <button class="btn primary-color px-3"><i data-feather="search"></i></button>
                    </div>
                  </div>
                  <small class="form-text text-muted">Lorem impsum dolor amit.</small>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea2">Message us</label>
                  <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" placeholder="Your Message"></textarea>
                  <small class="form-text text-muted">Lorem impsum dolor amit.</small>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-8 py-2">
                <div class="form-group">
                  <input class="form-control form-control-lg" type="text" placeholder="Email *">
                </div>
                <div class="form-group">
                  <select class="custom-select form-control custom-select-lg" id="inlineFormCustomSelect">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="form-group">
                  <div class="input-group input-style-1 mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text pl-4"><i data-feather="search"></i></div>
                    </div>
                    <input type="text" class="form-control form-control-lg" id="inlineFormInputGroupUsername1" placeholder="Search">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group form-group-file input-style-1 mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text pl-4"><i data-feather="link"></i></div>
                    </div>
                    <input type="text" class="form-control form-control-lg" id="inlineFormInputGroupUsername2" placeholder="Choose file">
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                  </div>
                </div>
                <div class="form-group">
                  <textarea class="form-control form-control-lg" id="exampleFormControlTextarea1" rows="3" placeholder="Your Message"></textarea>
                </div>
              </div>
            </div>
          </div>
        </section>
        <script src="../js/jquery-3.4.1.min.js"></script>
        <script src="../js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
        <script src="../js/tools.js"></script>
    </body>
</html>