<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Navbars</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
      <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="../css/main.css">
    </head>
    <body> 
        <section class="container py-3">
          <nav class="navbar navbar-expand-lg navbar-light py-3 px-4 light-drop-shadow">
            <a class="navbar-brand" href="#">Figmaland</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse py-5 py-lg-0" id="navbarNav">
              <ul class="navbar-nav ml-auto align-items-center mr-lg-5">
                <li class="nav-item px-2 active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
              </ul>
              <div class="form-inline my-2 my-lg-0 text-center justify-content-center">
                <button class="btn px-2"><i data-feather="search"></i></button> 
                <button class="btn px-2"><i data-feather="shopping-cart"></i></button>
              </div>
            </div>
          </nav>
        </section>
        <section class="container py-3">
          <nav class="navbar navbar-expand-lg navbar-light py-3 px-4 light-drop-shadow">
            <a class="navbar-brand" href="#">Figmaland</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse py-5 py-lg-0" id="navbarNav">
              <ul class="navbar-nav align-items-center mr-lg-5">
                <li class="nav-item px-2 active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item px-2 mt-4 mt-lg-0">
                  <a class="primary-text-color mr-2 mr-md-0" href="#">Login</a>
                </li>
                <li class="nav-item px-2 mt-4 mt-lg-0">
                  <button class="btn primary-color">Become a member</button>
                </li>
              </ul>
            </div>
          </nav>
        </section>
        <section class="container py-3">
          <nav class="navbar navbar-expand-lg navbar-light py-3 px-4 light-drop-shadow">
            <a class="navbar-brand" href="#">Figmaland</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse py-4 py-lg-0" id="navbarNav">
              <ul class="navbar-nav align-items-center mr-lg-5">
                <li class="nav-item px-2 active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
              </ul>
              <div class="form-inline ml-auto mt-4 mt-lg-0 text-center justify-content-center">
                <div class="input-group input-style-1 mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i data-feather="search"></i></div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroupUsername1" placeholder="Search">
                </div>
              </div>
            </div>
          </nav>
        </section>
        <section class="container py-3">
          <nav class="navbar navbar-expand-lg navbar-light py-3 px-4 light-drop-shadow">
            <a class="navbar-brand" href="#">Figmaland</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse py-4 py-lg-0" id="navbarNav">
              <div class="form-inline mt-4 ml-lg-4 mt-lg-0 text-center justify-content-center">
                <div class="form-group">
                  <div class="input-group input-style-2 mb-2 mr-sm-2">
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername4" placeholder="Search">
                    <div class="input-group-append mt-2 mt-sm-0">  
                      <div class="dropdown">
                        <button class="btn dropdown-toggle text-color" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </div>
                    <div class="input-group-append mt-2 mt-sm-0">
                      <button class="btn primary-color px-3"><i data-feather="search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="navbar-nav ml-auto align-items-center mt-4 mt-lg-0 mr-lg-5">
                <li class="nav-item px-2 active">
                  <a class="nav-link primary-text-color" href="#">Explore <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" href="#">Signup</a>
                </li>
              </ul>
            </div>
          </nav>
        </section>
        <section class="container py-3">
          <nav class="navbar navbar-expand-lg navbar-light pt-3 px-4">
            <a class="navbar-brand" href="#">Figmaland</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse py-4 py-lg-0" id="navbarNav">
              <div class="form-inline mt-4 ml-lg-4 mt-lg-0 text-center justify-content-center">
                <div class="form-group">
                  <div class="input-group input-style-2 mb-2 mr-sm-2">
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername4" placeholder="Search">
                    <div class="input-group-append mt-2 mt-sm-0">  
                      <div class="dropdown">
                        <button class="btn dropdown-toggle text-color" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </div>
                    <div class="input-group-append mt-2 mt-sm-0">
                      <button class="btn primary-color px-3"><i data-feather="search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item px-2 mt-3 mt-lg-0">
                  <a class="primary-text-color mr-2 mr-md-0" href="#">Login</a>
                </li>
                <li class="nav-item px-2 mt-3 mt-lg-0">
                  <button class="btn primary-color">Become a member</button>
                </li>
              </ul>
            </div>
          </nav>
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav align-items-center mr-lg-5">
                <li class="nav-item px-2 active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" href="#">Product</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" href="#">Shop</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link" href="#">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
        </section>
        <script src="../js/jquery-3.4.1.min.js"></script>
        <script src="../js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
        <script src="../js/tools.js"></script>
    </body>
</html>