<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>test</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
      <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        <!--test-->
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card-item text-center rounded"  style="padding:40px 40px;">
                        <i class="icn svg-icn icn-lg primary-text-color" data-feather="settings"></i>
                        <h5 class="h5 text-color" style="margin-top: 20px;">At your fingertips</h5>
                        <h6 class="h6 second-text-color" style="margin-top: 20px;">Slate helps you see  how many more days  you need to work  to reach </h6>
                        <a href="#" class="link primary-text-color d-inline-block" style="margin-top: 20px;">Learn more</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-item text-center rounded" style="padding: 40px 50px;">
                        <i class="icn svg-icn icn-xl primary-text-color" data-feather="settings"></i>
                        <h3  class="h3 text-color" style="margin-top: 30px;">At your fingertips</h3>
                        <p class="paragraph second-text-color"  style="margin-top: 30px;">Slate helps you see how  many more days you need  to work to reach </p>
                        <button class="btn primary-color" style="margin-top: 30px;">Try for free</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-item text-center rounded">
                        <div class="media">
                            <img src="../img/Picture.jpg" alt="" class="cover">
                        </div>
                        <div class="card-content text-center" style="padding:40px 50px;">
                            <h3  class="h3 text-color">At your fingertips</h3>
                            <p class="paragraph second-text-color" style="margin-top: 20px;">Slate helps you see how  many more days you need  to work to reach </p>
                            <button class="btn primary-color" style="margin-top:20px">Try for free</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-item rounded">
                        <div class="media">
                            <img src="../img/Picture.jpg" alt="" class="cover">
                        </div>
                        <div class="card-content">
                            <div style="padding: 15px 20px;">
                                <h5 class="h5 text-color">Technology</h5>
                            </div>
                            <hr>
                            <div style="padding: 10px 20px;">
                                <small class="h6 mute-text-color">524 Products</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-item text-center rounded"  style="padding: 40px 35px;">
                        <div class="circle-box circle-xl mx-auto">
                            <img src="../img/Picture.jpg" alt="" class="">
                        </div>
                        <div class="card-content" style="margin-top: 30px;">
                            <p class="paragraph second-text-color">Slate helps you see how  many more days you 
                                need  to work to reach your financial  goal for the month and year.</p>
                            <div class="stars" style="margin-top: 15px;">
                                <i class="icn svg-icn icn-sm text-warning" data-feather="star"></i>
                                <i class="icn svg-icn icn-sm text-warning" data-feather="star"></i>
                                <i class="icn svg-icn icn-sm text-warning" data-feather="star"></i>
                                <i class="icn svg-icn icn-sm mute-text-color" data-feather="star"></i>
                                <i class="icn svg-icn icn-sm mute-text-color" data-feather="star"></i>
                            </div>
                            <a href="#" class="link primary-text-color" style="margin-top: 15px;">Regina Miles</a>
                            <h6  class="h6 text-color" style="margin-top: 15px;">Designer</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-item cover rounded dark d-flex align-items-end">
                        <div class="media bg-cover">
                            <div class="filter"></div>
                            <img class="cover" src="../img/Picture.jpg" alt="">
                        </div>
                        <div class="card-content py-4 px-4 mx-2" style="padding:20px 20px;margin-top:50%;">
                            <h3 class="h3 light-text-color">Life Tips From Top Ten Adventure Travelers</h3>
                            <p class="paragraph light-text-color" style="margin-top: 15px;">Slate helps you see how many  more days you need to work to  reach.</p>
                            <div class="tags"style="margin-top: 15px;">
                                <a href="#" class="h6 disabled-element-text-color">Google</a>
                                <a href="#" class="h6 disabled-element-text-color" style="margin-left: 15px;">Trending</a>
                                <a href="#" class="h6 disabled-element-text-color" style="margin-left: 15px;">New</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-item text-center rounded">
                        <a href="#">
                           <div class="media">
                                <img src="../img/Picture.jpg" alt="" class="cover">
                            </div>
                            <div class="card-content" style="padding:15px 50px;">
                                <h5 class="h5 text-color">Creative Design</h5>
                            </div> 
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-item rounded" style="padding: 35px 35px;">
                        <div class="card-content">
                            <div class="stars">
                                <i class="icn svg-icn icn-xs text-warning" data-feather="star"></i>
                                <i class="icn svg-icn icn-xs text-warning" data-feather="star"></i>
                                <i class="icn svg-icn icn-xs text-warning" data-feather="star"></i>
                                <i class="icn svg-icn icn-xs text-warning" data-feather="star"></i>
                                <i class="icn svg-icn icn-xs mute-text-color" data-feather="star"></i>
                            </div>
                            <h6 class="h6 second-text-color"  style="margin-top: 20px;">Slate helps you see  how many more days  you need to work to  reach your financial  goal.</h6>
                            <div class="d-flex align-items-center"  style="margin-top: 20px;">
                                <div class="circle-box circle-sm">
                                    <img src="../img/Picture.jpg" alt="">
                                </div>
                                <div style="margin-left: 15px;">
                                    <a href="#" class="link primary-text-color">Regina Miles</a>
                                    <h6 class="h6 text-color">Designer</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-item rounded">
                        <div class="media">
                            <img src="../img/Picture.jpg" alt="" class="cover">
                        </div>
                        <div class="card-content" style="padding: 20px 25px;">
                            <small class="h6 mute-text-color">20 JUNE 2019</small>
                            <h5 class="h5 text-color" style="margin-top: 15px;">Life Tips From Top Ten Adventure Travelers</h5>
                            <h6 class="h6 second-text-color" style="margin-top: 15px;">Slate helps you see how  many more days you...</h6>
                            <a href="#" class="link primary-text-color" style="margin-top: 15px;">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-item rounded">
                        <div class="media">
                            <img src="../img/Picture.jpg" alt="" class="cover">
                        </div>
                        <div class="card-content" style="padding:30px 25px;">
                            <h6 class="h6 mute-text-color">Course item</h6>
                            <h3 class="h3 text-color" style="margin-top: 15px;">Content Writer</h3>
                            <p class="paragraph second-text-color" style="margin-top: 15px;">Slate helps you see how many  more days.</p>
                            <div class="tags" style="margin-top: 15px;">
                                <a class="h6 second-text-color" href="#">Full time</a>
                                <a class="h6 second-text-color" style="margin-left: 15px;" href="#">Premium</a>
                                <a class="h6 second-text-color" style="margin-left: 15px;" href="#">1 July 2019 </a>
                            </div>
                            <a href="#" class="link primary-text-color" style="margin-top: 15px;">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-item text-center rounded" style="padding: 50px 30px;">
                        <div class="icn-circle primary-color circle-lg mx-auto">
                            <i class="icn svg-icn icn-lg" data-feather="settings"></i>
                        </div>
                        <h3 class="h3 text-color" style="margin-top: 35px;">At your fingertips</h3>
                        <p class="paragraph second-text-color" style="margin-top: 35px;">Slate helps you see how many more days you need to work to reach </p>
                        <button class="btn primary-color" style="margin-top: 35px;">Try for free</button>
                        <div class="laptop-mockup" style="margin-top: 35px;">
                            <img class="laptop" src="../img/MacBook-Silver.png">
                            <div class="placeholder">
                                <img src="../img/Picture.jpg" alt="" class="cover">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-item rounded d-flex" style="padding: 45px 35px;">
                        <div class="align-self-center"  style="width:100%; height:85px;">
                            <img src="../img/saas-img/review-illustration.png" alt="" class="">

                        </div>
                        <div class="card-content" style="margin-left: 50px;">
                            <h3 class="h3 primary-text-color">Brand Name</h3>
                            <p class="paragraph second-text-color" style="margin-top: 15px;">Slate helps you see how many  more days you need to work to  reach your financial goal for the  month and year.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-item rounded d-flex">
                        <div class="d-flex align-items-stretch">
                            <img src="../img/Picture.jpg" alt="" class="cover">
                        </div>
                        <div class="card-content" style="padding: 25px 50px;">
                            <h6 class="h6 mute-text-color">20 JUNE 2019</h6>
                            <h3 class="h3 text-color" style="margin-top: 15px;">Life Tips From Top Ten Adventure 
                                Travelers</h3>
                            <p class="paragraph second-text-color" style="margin-top: 15px;">Slate helps you see how many more days  work to reach.</p>
                            <div class="tags" style="margin-top: 15px;">
                                <a href="#" class="h6 primary-text-color">Google</a>
                                <a href="#" class="h6 primary-text-color" style="margin-left: 15px;">Trending</a>
                                <a href="#" class="h6 primary-text-color" style="margin-left: 15px;">New</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-item cover rounded dark d-flex align-items-end">
                        <div class="media bg-cover">
                            <img src="../img/Picture.jpg" alt="" class="cover">
                            <div class="filter"></div>
                        </div>
                        <div class="card-content" style="margin-top: 15px; padding: 25px 25px;">
                            <h3 class="h3 light-text-color">Life Tips From Top Ten Adventure Travelers</h3>
                            <p class="paragraph light-text-color" style="margin-top: 15px;">Slate helps you see how many more days you need to work to  reach.</p>
                            <div class="tags" style="margin-top: 15px;">
                                <a href="#" class="h6 second-text-color">Google</a>
                                <a href="#" class="h6 second-text-color" style="margin-left: 15px;">Trending</a>
                                <a href="#" class="h6 second-text-color" style="margin-left: 15px;">New</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card-item text-center rounded" style="padding: 50px 40px;">
                        <h3 class="h3 text-color">FREE</h3>
                        <h5 class="h5 second-text-color" style="margin-top: 35px;">Organize across all apps by hand</h5>
                        <div class="price d-flex justify-content-center text-left" style="margin-top: 35px;">
                            <h2 class="h1 primary-text-color">0</h2>
                            <div style="margin-left: 10px;">
                                <h3 class="h3 primary-text-color">$</h3>
                                <h5 class="h5 disabled-element-text-color">Per Month</h5>
                            </div>
                        </div>
                        <div class="features-list" style="margin-top: 35px;">
                            <div class="feature-item d-flex align-items-center" >
                                <div class="icn-circle circle-xs secondary-color-1">
                                    <i data-feather="check" class="icn icn-xs svg-icon"></i>
                                </div>
                                <h6 class="h6 text-color" style="margin-left: 10px;">Unlimited product updates</h6>
                            </div>
                            <div class="feature-item d-flex align-items-center" style="margin-top: 15px;">
                                <div class="icn-circle circle-xs secondary-color-1">
                                    <i data-feather="check" class="icn icn-xs svg-icon"></i>
                                </div>
                                <h6 class="h6 text-color" style="margin-left: 10px;">Unlimited product updates</h6>
                            </div>
                            <div class="feature-item d-flex align-items-center" style="margin-top: 15px;">
                                <div class="icn-circle circle-xs secondary-color-1">
                                    <i data-feather="check" class="icn icn-xs svg-icon"></i>
                                </div>
                                <h6 class="h6 text-color" style="margin-left: 10px;">Unlimited product updates</h6>
                            </div>
                            <div class="feature-item d-flex align-items-center" style="margin-top: 15px;">
                                <div class="icn-circle circle-xs mute">
                                    <i data-feather="check" class="icn icn-xs svg-icon light-text-color"></i>
                                </div>
                                <h6 class="h6 text-color" style="margin-left: 10px;">1GB  Cloud storage</h6>
                            </div>
                        </div>
                        <button class="btn primary-color w-100" href="#" style="margin-top: 35px;">Try for free</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-item text-center rounded" style="padding: 50px 40px;">
                        <div class="icn-circle primary-color circle-lg">
                            <i data-feather="settings" class="icn svg-icn icn-lg"></i>
                        </div>
                        <h3 class="h3 text-color" style="margin-top: 35px;">Standard</h3>
                        <h5 class="h5 second-text-color" style="margin-top: 35px;">Organize across all apps by hand</h5>
                        <div class="price d-flex justify-content-center text-left" style="margin-top: 35px;">
                            <h2 class="h1 primary-text-color">0</h2>
                            <div style="margin-left: 10px;">
                                <h3 class="h3 primary-text-color">$</h3>
                                <h5 class="h5 disabled-element-text-color">Per Month</h5>
                            </div>
                        </div>
                        <h6 class="h6 second-text-color" style="margin-top: 35px;">Slate helps you see how many more days you need to work to reach your financial goal for the month and year.</h6>
                        <button class="btn primary-color w-100" style="margin-top: 35px;">Try for free</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-item text-center rounded" style="padding: 50px 40px;">
                        <div class="circle-box circle-lg secondary-color-2 text-center d-flex align-items-center justify-content-center"  style="position: absolute; top: -45px; left: 221px;">
                            <h3 class="h3 light-text-color">New</h3>
                        </div>
                        <h3 class="h3 text-color">FREE</h3>
                        <h5 class="h5 second-text-color" style="margin-top: 35px;">Organize across all  apps by hand</h5>
                        <div class="price" style="margin-top: 35px;">
                            <h2 class="h1 primary-text-color">19$</h2>
                            <h5 class="h5 disabled-element-text-color">Per Month</h5>
                        </div>
                        <button class="btn primary-color w-100" style="margin-top: 35px;">Try for free</button>
                        <div class="features-list" style="margin-top: 35px;">
                            <div class="feature-item d-flex align-items-center">
                                <div class="icn-circle circle-xs secondary-color-1">
                                    <i data-feather="check" class="icn icn-xs svg-icon"></i>
                                </div> 
                                <h6 class="h6 text-color" style="margin-left:10px;">Unlimited product updates</h6>
                            </div>
                            <div class="feature-item d-flex align-items-center" style="margin-top: 15px;">
                                <div class="icn-circle circle-xs secondary-color-1">
                                    <i data-feather="check" class="icn icn-xs svg-icon"></i>
                                </div>
                                <h6 class="h6 text-color" style="margin-left:10px;">Unlimited product updates</h6>
                            </div>
                            <div class="feature-item d-flex align-items-center" style="margin-top: 15px;">
                                <div class="icn-circle circle-xs secondary-color-1">
                                    <i  data-feather="check" class="icn icn-xs svg-icon"></i>
                                </div>
                                <h6 class="h6 text-color" style="margin-left:10px;">Unlimited product updates</h6>
                            </div>
                            <div class="feature-item d-flex align-items-center" style="margin-top: 15px;">
                                <div class="icn-circle circle-xs mute">
                                    <i data-feather="check" class="icn icn-xs svg-icon light-text-color"></i>
                                </div>
                                <h6  class="h6 text-color" style="margin-left: 10px;">1GB  Cloud storage</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-item rounded" style="padding: 35px 40px;">
                        <h3 class="h3 text-color">FREE</h3>
                        <h5 class="h5 second-text-color" style="margin-top: 30px;">Organize across all  apps by hand</h5>
                        <div class="price d-flex" style="margin-top: 30px;">
                            <h2 class="h1 primary-text-color">0</h2>
                            <div class="" style="margin-left:10px;">
                                <h3 class="h3 primary-text-color">$</h3>
                                <h5 class="h5 disabled-element-text-color">Per Month</h5>
                            </div>
                        </div>
                        <button class="btn primary-color w-100" style="margin-top: 30px;">Try for free</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-item text-center rounded" style="padding: 40px 50px;">
                        <h5 class="h5 second-text-color">Organize across all apps by hand</h5>
                        <h2 class="h2 text-color" style="margin-top: 30px;">Free</h2>
                        <h6 class="h6 second-text-color" style="margin-top: 30px;">Slate helps you see how 
                            many more days you need to 
                            work to reach your financial 
                            goal for the month and year.</h6>
                        <div class="price d-flex justify-content-center text-left" style="margin-top: 30px;">
                            <h5 class="h5 mute-text-color align-self-center">from</h5>
                            <h2 class="h1 primary-text-color align-self-center"  style="margin-left: 30px;">1$</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-item rounded d-flex justify-content-between" style="padding: 50px 50px;">
                        <div class="w-50">
                            <h3 class="h3 primary-text-color">STANDARD</h3>
                            <h6 class="h6 second-text-color" style="margin-top: 15px;">Most calendars are designed  for teams. Slate is designed for freelancers who want a simple way</h6>
                        </div>
                        <div class="w-30" style="margin-left: 15px;">
                            <div class="price d-flex text-left">
                                <h2 class="h1 primary-text-color">0</h2>
                                <div class="" style="margin-left: 10px;">
                                    <h3 class="h3 primary-text-color">$</h3>
                                    <h5 class="h5 disabled-element-text-color">Per Month</h5>
                                </div>
                            </div>
                            <button class="btn primary-color w-100" style="margin-top: 25px;">Try for free</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="container" style="padding: 80px 0;">
                <div class="row justify-content-center">
                    <div class="main_content text-center col col-lg-10">
                        <h2 class="h2 text-color">Features</h2>
                        <h5 class="h4 second-text-color">The quick fox jumps over the lazy dog</h5>
                    </div>
                </div>
                <div class="row justify-content-center align-items-stretch" style="margin-top: 80px;">
                    <div class="col-md-4 mb-5 mb-lg-0">
                        <div class="card-item text-center rounded" style="padding:40px 50px;">
                            <i data-feather="star" class="icn svg-icn icn-xl primary-text-color"></i>
                            <h3 class="h3 text-color" style="margin-top: 30px;">Supercharge your Symbols</h3>
                            <p class="paragraph second-text-color" style="margin-top: 30px;">This proved to be  impossible using the  traditional concepts of  space and time. </p>
                            <button class="btn primary-color" style="margin-top: 30px;">Try for free</button>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5 mb-lg-0">
                        <div class="card-item text-center rounded" style="padding:40px 50px;">
                            <i data-feather="star" class="icn svg-icn icn-xl primary-text-color"></i>
                            <h3 class="h3 text-color" style="margin-top: 30px;">OpenType features  and Variable</h3>
                            <p class="paragraph second-text-color" style="margin-top: 30px;">Historically, the electron, for  example, was thought to beh ave like a particle, absolute space and time.</p>
                            <button class="btn primary-color" style="margin-top: 30px;">Try for free</button>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5 mb-lg-0">
                        <div class="card-item text-center rounded" style="padding:40px 50px;">
                            <i data-feather="star" class="icn svg-icn icn-xl primary-text-color"></i>
                            <h3 class="h3 text-color" style="margin-top: 30px;">Lightning fast  prototyping</h3>
                            <p class="paragraph second-text-color" style="margin-top: 30px;">They describe a universe co nsisting of bodies movin g with clockwork  predicatability on a stage</p>
                            <button class="btn primary-color" style="margin-top: 30px;">Try for free</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <header class="position-relative">
            <nav class="navbar navbar-expand-lg navbar-light">
                
            </nav>
        </header>
        <!--test-end-->
        <script src="../js/jquery-3.4.1.min.js"></script>
        <script src="../js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
        <script src="../js/tools.js"></script>
        <script src="../js/data.js"></script>
    </body>
</html>


